body {
	margin: 0 auto;
	max-width: 900px;	
max-height: 1500px;
width: 100%
    background-repeat: repeat;
}


#wrapper {
max-width: 900px;	
max-height: 1500px;
width: 100%;
margin: 0 auto;
border: solid 2px black;
}
/* SOCIAL MEDIA  */

.icons {
	position: absolute;
	float: left;
	margin-left: 645px;
	margin-top: 135px;
}
ul {
	z-index: -1;
	position:relative;
}

i {
	font-style: italic;
}

h3 {
font-family: 'Concert One', cursive;
background-color: #f4e13b;
font-size: 50px;
 display: block;
 text-align: center;
 text-shadow: -2px 2px 0px rgba(255, 255, 255, 1);


}
header {
	margin: 0 auto;
	text-align: center;
	background-color: white;

}
header img {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}
nav { max-width: 900px;
	width: 100%;
	margin: 0 auto;

	margin-bottom: 50px;
	border-top:3px solid black;
	border-bottom:3px solid black;

	
}
nav li {
	margin: 10px;
	display: inline-block;
	margin-left: 70px;
	font-family: Futura;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
}

li a {
	text-decoration: none;
		color: black;

}

h3 {
	text-align: center;
}
.box {
	max-width: 350px;
	padding: 5px;
	width: 100%;
	float: left;
	border: 2px solid black;
	margin-left: 50px;
	margin-bottom: 30px;
	margin-top: 40px;
	-webkit-box-shadow: -15px 14px 0px -4px rgba(0,0,0,1);
-moz-box-shadow: -15px 14px 0px -4px rgba(0,0,0,1);
box-shadow: -15px 14px 0px -4px rgba(0,0,0,1);
}

p  {
	padding-top: 10px;
	font-family: Avenir;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

p mark {
	background-color: #f4e13b;
}
.box img {
	width: 350px;
	width: 100%;
}

/* HOVER  */

	.hvrbox,
	.hvrbox * {
		box-sizing: border-box;
	}
	.hvrbox {
		position: relative;
		display: inline-block;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	}
	.hvrbox img {
		max-width: 100%;
	}
	.hvrbox .hvrbox-layer_bottom {
		display: block;
	}
	.hvrbox .hvrbox-layer_top {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba(244,225,59, 0.8
		 );
		color: #fff;
		padding: 15px;
		-moz-transition: all 0.4s ease-in-out 0s;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-ms-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
	}
	.hvrbox:hover .hvrbox-layer_top,
	.hvrbox.active .hvrbox-layer_top {
		opacity: 1;
	}
	.hvrbox .hvrbox-text {
		text-align: center;
		font-size: 38px;
		display: inline-block;
		position: absolute;
		font-family: Futura;
		color: black;
		top: 50%;
		left: 50%;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.hvrbox .hvrbox-text a {
		color: black;
			font-family: Futura;
			text-decoration: none;
			font-weight: bold;
			]

	}
footer {
	border-top: 1px solid black;
	padding-top: 20px;
	padding: 10px;
	clear: both;
	background-color: black;
}

footer p {
	color: white;
	font-family: Futura;
}

/* RESPONSIVE  */

@media screen and (max-width: 600px) {
	nav {
		text-align: center;
	}
nav li {
		margin: 0px;
		display: block;
		margin-top: 8px;
		margin-bottom: 8px;
	}
footer {
		text-align: center;
	}

	.box {
		width: 100%;

	}


	